<!-- 添加采购记录 -->
<ion-view view-title="销售药材">
<ion-nav-bar>
		<ion-nav-buttons class="button-clear" side="left" >
			<i class="icon ion-ios-arrow-back backBtn"  ui-sref="sale"></i>
		</ion-nav-buttons >
</ion-nav-bar>
<ion-content>
  <ion-list>
	  <ion-item>
	    <label class="item-input item-select">
		    <div class="input-label goods-title">
		      商品
		    </div>
		    <select class="selectGoods">	      
		     <option selected>请选择</option>
		      <option>三七阿斯顿发阿斯顿发生</option>
		      <option>当归</option>
		      <option>菊花</option>
		      <option>当归</option>
		      <option>菊花</option>
		    </select>
		  </label>
	  </ion-item>
	  <ion-item>
		  <div class="item-input item-select">
		    <div class="input-label goods-title">
		      含税单价
		    </div>
		    <input type="text" name=""> 元 |&nbsp;
		    <select class="selectGoods">	      
		      <option selected>吨</option>
		      <option>三七撒打开金凤凰克里斯多夫</option>
		      <option>当归</option>
		      <option>菊花</option>
		      <option>当归</option>
		      <option>菊花</option>
		    </select>
		  </div>
	  </ion-item>
	  <ion-item>
	    <div class="item-input item-select">
		    <div class="input-label goods-title">
		      <span class="goods-title">销量</span>
		    </div>
		    <input type="text" name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <select class="selectGoods">      
		      <option selected>吨</option>
		      <option>三七撒打开金凤凰克里斯多夫</option>
		      <option>吨</option>
		      <option>菊花</option>
		      <option>当归</option>
		      <option>菊花</option>
		    </select>
		  </div>
	  </ion-item>
	 <ion-item>
		  <div class="item-input">
		    <div class="input-label goods-title">
		      优惠金额
		    </div>
		    <input type="text" name=""><span  class="rmb">元</span>
		  </div>
	  </ion-item>
	   <ion-item>
		  <div class="item-input">
		    <div class="input-label goods-title">
		      销售金额
		    </div>
		    <input type="text" name=""><span  class="rmb">元</span>
		  </div>
	  </ion-item>
	   <ion-item>
	     <label class="item-input item-select">
		    <div class="input-label goods-title">
		     采购日期
		    </div>
		   <input type="date" name="" ng-model="now">
		  </label>
	  </ion-item>
  </ion-list>
  <p class="info">买家信息</p>
  <ion-list>
	  <ion-item>
	    <div class="item-input">
		    <div class="input-label goods-title">
		      <span  class="goods-title">联系人</span>
		    </div>
		    <input type="text" name="">
		  </div>
	  </ion-item>
	  <ion-item>
		 <div class="item-input">
		    <div class="input-label goods-title">
		      <span  class="goods-title">手机</span>
		    </div>
		    <input type="text" name="">
		  </div>
	  </ion-item>
	  <ion-item>
		 <div class="item-input">
		    <div class="input-label goods-title">
		      <span  class="goods-title">买家单位</span>
		    </div>
		    <input type="text" name="">
		  </div>
	  </ion-item>
  </ion-list>
	<div class="padding">
	    <button class="button button-block button-balanced loginBtn" ng-click="upload()">提交</button>
	</div>
</ion-content>
</ion-view> 