<ion-view view-title="修改密码">
	<ion-content>
		<div class="wrap">
			<ion-nav-bar class="navBar">
				  <ion-nav-back-button class="button-clear">
				    	<i class="icon ion-ios-arrow-back"></i>
				  </ion-nav-back-button>
			</ion-nav-bar>
			<div class="content">
				<p class="tip">如果忘记密码，请与总部系统管理员联系。</p>
				 <div class="has-header">
				      <div class="list list-pwd">
				        <label class="item item-input item-pwd">
				          <span class="input-label">原密码：</span>
				          <input type="text">
				        </label>
				        <label class="item item-input item-pwd">
				          <span class="input-label">新密码：</span>
				          <input type="password">
				        </label>
				        <label class="item item-input item-pwd">
				          <span class="input-label">确认新密码：</span>
				          <input type="password">
				        </label>
				      </div>
				      <div class="padding">
				        <button class="button button-block button-balanced loginBtn" ng-click="goHome()">保 存</button>
			      	  </div>
				  </div>
			</div>
		</div>
	</ion-content>
</ion-view> 