<ion-view view-title="首页">
	<ion-content>
		<div class="wrap">
			<div class="userInfo">
				<div class="userInfo-row1">
					<div class="right">
						<i class="icon ion-locked" ui-sref="changePwd"></i>
						<i class="icon ion-power" ng-click="exit()"></i>
					</div>
				</div>
				<div class="userInfo-row2">
					<div class="userName">{{data.userName}}
					</div>
					<p class="fullName">{{data.fullName}} , 您好!</p>
				</div>
			</div>
			<div class="business">
				<div class="busines-item" ui-sref="procurement">
					<i class="icon ion-paper-airplane"></i>
					<p>我的采购</p>
				</div>
				<div class="busines-item" ui-sref="inventory">
					<i class="icon ion-grid"></i>
					<p>货存维护</p>
				</div>
				<div class="busines-item"  ui-sref="price">
					<i class="icon ion-arrow-graph-up-right"></i>
					<p>行情价格</p>
				</div>
				<div class="busines-item limitedAuthority"  ui-sref="sale">
					<i class="icon ion-person"></i>
					<p>我的销售</p>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="bigImg" ng-if="showExit">
	    <div class="exitBox">
	    	<p>您确定离开吗?</p>
	    	<div class="btnBox">
	    		<button class="button button-stable" ng-click="cancelExit()">取消</button>
	    		<button class="button button-balanced" ng-click="doExit()">确定</button>
	    	</div>    	
	    </div>
	</div>
</ion-view>