<ion-view view-title="首页">
	<ion-content>
		<div class="wrap">
			<div class="userInfo">
				<div class="userInfo-row1">
					<div class="right">
						<i class="icon ion-locked" ui-sref="changePwd"></i>
						<i class="icon ion-power"></i>
					</div>
				</div>
				<div class="userInfo-row2">
					<div class="userName">{{data.userName}}
					</div>
					<p class="fullName">{{data.fullName}} , 您好!</p>
				</div>
			</div>
			<div class="business">
				<div class="busines-item">
					<i class="icon ion-paper-airplane"></i>
					<p>我的采购</p>
				</div>
				<div class="busines-item">
					<i class="icon ion-grid"></i>
					<p>货存维护</p>
				</div>
				<div class="busines-item">
					<i class="icon ion-arrow-graph-up-right"></i>
					<p>行情价格</p>
				</div>
				<div class="busines-item limitedAuthority">
					<i class="icon ion-person"></i>
					<p>我的销售</p>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view> 