<ion-view class="loginView" view-title="登录">
	<div class="wrap">
		<div class="logo">
			<img src="images/logo.png">
		</div>
	<div class="content has-header">
	      <div class="list list-inset">
	        <label class="item item-input">
	          <span class="loginInput"><i class="icon ion-person"></i> | 用户名：</span>
	          <input type="text">
	        </label>
	       
	      </div>
	      <div class="list list-inset">
	       <label class="item item-input ">
	          <span class="loginInput"><i class="icon ion-unlocked"></i> | 密&nbsp;&nbsp;&nbsp;码：</span>
	          <input type="password">
	        </label>
	      </div>
	      <div class="rememberpwd">	      	 
	      	 <label class="toggle">
				   <input type="checkbox">
				   <div class="track">
				     <div class="handle"></div>
				   </div>		  
		   	 </label>
		   	 <span class="rememberpwd-txt">记住密码</span>
	      </div>
	      <div class="padding">
	        <button class="button button-block button-balanced loginBtn" ng-click="loading()">登 录</button>
      	  </div>
	</div>	 
</ion-view>	