<!-- 采购详情 -->
<ion-view view-title="采购详情">
<ion-nav-bar>
	<ion-nav-buttons class="button-clear" side="left" >
		<i class="icon ion-ios-arrow-back backBtn"  ui-sref="procurement"></i>
	</ion-nav-buttons >
</ion-nav-bar>
<ion-content>
  <ion-list>
	  <ion-item>
	    <p>
	    	<span class="goods-title">品种</span>
	    	<span class="text">{{good.name}}</span>
	    </p>
	  </ion-item>
	  <ion-item>
		<p>
	    	<span class="goods-title">规格</span>
	    	<span class="text">{{good.size}}</span>
	    </p>
	  </ion-item>
	  <ion-item>
		<p>
	    	<span class="goods-title">产地</span>
	    	<span class="text">{{good.area}}</span>
	    </p>
	  </ion-item>
	  <ion-item>
	    <p>
	    	<span class="goods-title">采购日期</span>
	    	<span class="text">{{good.date}}</span>
	    </p>
	  </ion-item>
	  <ion-item>
	    <p>
	    	<span class="goods-title">商品图片</span>
	    	<img class="headerImage" ng-src="{{good.imgUrl}}" ng-click="showBig('{{good.imgUrl}}')">
	    </p>
	  </ion-item>
   </ion-list>
	<div class="padding">
	    <button class="button button-block button-balanced loginBtn" ui-sref="delProcurement">删除</button>
	</div>
	</ion-content>
	<!-- 点击查看图片放大 -->
	<div class="bigImg" ng-if="show" ng-click="hideBig()">
	    <img ng-src={{url}}>
	</div>
</ion-view> 