<!-- 我的采购 -->
<ion-view view-title="我的采购">
	<ion-nav-bar>
		<ion-nav-buttons class="button-clear" side="left" >
			<i class="icon ion-ios-arrow-back backBtn"  ui-sref="home"></i>
		</ion-nav-buttons >
	    <ion-nav-buttons side="right" >
	     	 <i class="icon ion-ios-plus-outline addBtn" ui-sref="addProcurement"></i>	    
	     </ion-nav-buttons>
	</ion-nav-bar>
	<ion-nav-view>
		 <ion-content>
		      <ion-list>
				  <ion-item ng-repeat="item in data.items" ui-sref = "procurementDetail">
				    <p class="first-P">
				    	<span class="item-name">{{item.name}}</span>
				    	<span class="item-size">{{item.size}}</span>
				    	<span class="item-price">{{item.price}}</span>
				    </p>
				    <p>
				    	<span class="item-area">产地 : {{item.area}}</span>
				    	<span class="item-date">{{item.date}}</span>
				    </p>
				  </ion-item>
			  </ion-list>
		    </ion-content>
	</ion-nav-view>
</ion-view> 


